<div class="container d-flex justify-content-center align-items-center">
  <form class="form-inline">
    <label for="searchWord" class="mx-2">Search</label>
    <input type="text" class="form-control mr-3" id="searchWord" placeholder="Enter the search word">

    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="gridRadios" id="est" value="EST">
      <label class="form-check-label" for="est">
        Eesti keel
      </label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="gridRadios" id="eng" value="ENG">
      <label class="form-check-label" for="eng">
        English
      </label>
    </div>

    <button type="submit" class="btn btn-primary my-2">Submit</button>
  </form>
</div>

<app-word-result-table></app-word-result-table>
