 <form class="mx-3 my-3" [formGroup]="wordForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="wordInEstonian" class="form-label">Sõna eesti keeles</label>
      <input type="text" class="form-control" formControlName="wordInEstonian" id="wordInEstonian">
    </div>
    <div class="mb-3">
      <label for="wordDefinitionInEstonian" class="form-label">Tähendus eesti keeles</label>
      <textarea class="form-control" formControlName="wordDefinitionInEstonian" id="wordDefinitionInEstonian" rows="2"></textarea>
    </div>

    <div class="mb-3">
      <label for="wordInEnglish" class="form-label">Word in English</label>
      <input type="text" class="form-control" formControlName="wordInEnglish" id="wordInEnglish">
    </div>
    <div class="mb-3">
      <label for="wordDefinitionInEnglish" class="form-label">Definition in English</label>
      <textarea class="form-control" formControlName="wordDefinitionInEnglish" id="wordDefinitionInEnglish" rows="2"></textarea>
    </div>

   <button type="submit" class="btn btn-primary">Submit</button>
  </form>

