 <form class="mb-3">
    <div class="mb-3">
      <label for="wordInEstonian" class="form-label">Sõna eesti keeles</label>
      <input type="text" class="form-control" id="wordInEstonian">
    </div>
    <div class="mb-3">
      <label for="definitionInEstonian" class="form-label">Tähendus eesti keeles</label>
      <textarea class="form-control" id="definitionInEstonian" rows="2"></textarea>
    </div>

    <div class="mb-3">
      <label for="wordInEnglish" class="form-label">Word in English</label>
      <input type="text" class="form-control" id="wordInEnglish">
    </div>
    <div class="mb-3">
      <label for="definitionInEnglish" class="form-label">Definition in English</label>
      <textarea class="form-control" id="definitionInEnglish" rows="2"></textarea>
    </div>
  </form>

